@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-deepRuby: #774069;
  --color-englishViolet: #4c3a69;
  --color-purpleLavander: #9c84bf;
  --color-darkStone: #2c2a32;
}
